<div class="container">
  <fieldset class="mt-4">
    <h4>Item</h4>
    <div class="fields">
      <%= f.label :name %>
      <%= f.text_field :name, placeholder: "Enter Name", class: "form-control" %>

      <%= f.label :price %>
      <%= f.text_field :price, placeholder: "Enter Price", class: "form-control" %>
    </div>
  </fieldset>
</div>